.attributions--google {
  background-image: url('../assets/powered-google-light.png');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 120px 14px;
  height: 18px;
  min-width: 120px;
  margin: 0.5em 1em;
  box-sizing: border-box;
}
