{%
  set classes = [
    'js-form-item',
    'form-item',
    title_display not in ['after', 'before'] ? 'form-no-label',
    errors ? 'form-item--error',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if label_display in ['after', 'before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {{ inputs.text }}
  {{ geolocation_link }}

  {% if errors %}
    <div class="form-item--error-message">
      {{ errors }}
    </div>
  {% endif %}
  {% if description.content %}
    {%
      set description_classes = [
        'description',
        description_display == 'invisible' ? 'visually-hidden',
      ]
    %}
    <div{{ description.attributes.addClass(description_classes) }}>
      {{ description.content }}
    </div>
  {% endif %}
  {{ inputs|without('text') }}
</div>
